<app-floating-configurator />
<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
      <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
          <div class="text-center mb-8">
            <svg viewBox="0 0 54 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb-8 w-16 shrink-0 mx-auto">
                               
                                <mask id="mask0_1413_1551" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="8" width="54" height="11">
                                    <path d="M27 18.3652C10.5114 19.1944 0 8.88892 0 8.88892C0 8.88892 16.5176 14.5866 27 14.5866C37.4824 14.5866 54 8.88892 54 8.88892C54 8.88892 43.4886 17.5361 27 18.3652Z" fill="var(--primary-color)" />
                                </mask>
                                <g mask="url(#mask0_1413_1551)">
                                    
                                </g>
                            </svg>
            <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Welcome to PrimeLand!</div>
            <span class="text-muted-color font-medium">Sign in to continue</span>
          </div>

          <div>
            <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
            <input
              pInputText
              id="email1"
              type="email"
              placeholder="Email address"
              class="w-full md:w-[30rem] mb-8"
              name="email"
              [(ngModel)]="email"
              required
            />

            <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
            <p-password
              id="password1"
              [(ngModel)]="password"
              name="password"
              placeholder="Password"
              [toggleMask]="true"
              styleClass="mb-4"
              [fluid]="true"
              [feedback]="false"
              required
            ></p-password>

            <div class="flex items-center justify-between mt-2 mb-8 gap-8">
              <div class="flex items-center">
                <p-checkbox [(ngModel)]="checked" id="rememberme1" binary class="mr-2" name="remember"></p-checkbox>
                <label for="rememberme1">Remember me</label>
              </div>
              <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">Forgot password?</span>
            </div>

            <!-- Login tugmasi -->
            <button pButton type="submit" label="Sign In" styleClass="w-full" [disabled]="!loginForm.form.valid"></button>

            <!-- Error xabari -->
            <div *ngIf="errorMessage" class="text-red-500 mt-4 text-center">
              {{ errorMessage }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
